#about
    padding-bottom: 50px
    .box, .Divbox
        padding: 10px 0 55px
        h1
            font-size: 45px
            padding: 45px 0 15px
            font-weight: 700
        h4
            color: #969696
            padding-bottom: 50px
            font-size: 20px
        h2
            font-size: 25px
            font-weight: 600
            padding-bottom: 10px
            margin: 0 110px

        h3
            font-size: 30px
            font-weight: 700
            padding-bottom: 15px
            margin: 0 110px

        h5
            font-size: 19px
            color: #969696
            line-height: 1.8
            margin: 0 110px

        h6
            font-size: 19px
            color: #969696
            line-height: 1.5
            margin: 0 110px

    .imgbox
        img
            position: absolute
            left: 43.2%
            width: 170px
            height: 170px
            border: 7px solid #e9ecef
            border-radius: 50%

    .Bigbox
        .btn
            padding-top: 35px
            width: 170px
            height: 170px
            border: 7px solid #e9ecef
            border-radius: 50%
          
            background-color: #ffc800

        h4
            color: #ffff
            font-size: 23px
            line-height: 0.3
            font-weight: 700
            padding: 10px 0

    .textline
        border-style: solid
        // padding: 50px 0
        border-right-color: #aa1616
        border-right-width: 2px
    .textbox
        // display: flex
        // .emptycell
        //     flex: 1
        // .text
        //     flex: 1
        // .center
        //     width: auto
    .textbox
        flex-direction: row-reverse

    // .textboxx
    //     flex-direction: row-reverse
    //     display: flex
    //     .center
    //         width: auto
    //     .emptycell
    //         flex: 1
    //     .text
    //         flex: 2

    @media ( max-width: 999px )
        .box
            .btn
                display: block
                margin-left: 35px
