header
    position: fixed
    padding: 30px 365px 
    background-color: #212529
 

    .imgbox
        width: 140px
        height: 20px
        position: relative
        right: 250px
    nav
        a
            font-size: 18px
            color: #d7d7df
            margin-right: 30px
            position:  relative
            left: 300px
