#website
    padding: 20px 0
    ul
        display: flex
        flex-direction: row
        justify-content: center
        li
            font-size: 18px
            background-color: #1d1735
            border-radius: 70%
            color: #ffff
            border: 15px solid #1d1735
            margin: 0 15px
