body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

header {
  position: fixed;
  padding: 30px 365px;
  background-color: #212529;
}
header .imgbox {
  width: 140px;
  height: 20px;
  position: relative;
  right: 250px;
}
header nav a {
  font-size: 18px;
  color: #d7d7df;
  margin-right: 30px;
  position: relative;
  left: 300px;
}

#studio .imgbox {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
#studio .box img {
  padding: 20px 310px;
  width: 900%;
  height: 950px;
}
#studio .textbox {
  color: white;
  text-align: center;
  position: absolute;
  top: 405px;
  left: 308px;
}
#studio .textbox h3 {
  padding-bottom: 25px;
  font-size: 35px;
  font-weight: 400;
}
#studio .textbox h4 {
  padding-bottom: 30px;
  font-size: 75px;
  font-weight: 800;
}
#studio .btn {
  position: absolute;
  top: 580px;
  left: 550px;
  color: white;
  font-size: 20px;
  padding: 15px 35px;
  background-color: #ffc800;
}

#services {
  padding: 40px 0 60px;
}
#services .textbox {
  text-align: center;
}
#services .textbox h2 {
  font-size: 45px;
  font-weight: 700;
  padding-bottom: 15px;
}
#services .textbox h4 {
  color: #6a6a6a;
  padding-bottom: 45px;
  font-size: 20px;
  line-height: 1.3;
}
#services .icon {
  margin: 0 10px;
  border-radius: 50%;
  background-color: #ffc800;
  padding: 30px;
  width: 120px;
  height: 120px;
  font-size: 55px;
  color: white;
}
#services .textbox h3 {
  font-size: 30px;
  font-weight: 700;
  padding: 20px 0;
}
#services .textbox h6 {
  font-size: 20px;
  color: #6a6a6a;
  line-height: 1.4;
}

#portfolio {
  padding: 40px 0 60px;
  background-color: #f6f6f6;
}
#portfolio .textboox {
  text-align: center;
}
#portfolio .textboox h1 {
  font-size: 35px;
  font-weight: 700;
}
#portfolio .textboox h3 {
  padding: 25px 0 50px;
  line-height: 1.3;
  color: #6a6a6a;
  font-size: 20px;
}
#portfolio .textbox {
  background-color: white;
  text-align: center;
}
#portfolio .textbox h2 {
  font-size: 25px;
  font-weight: 700;
  padding: 25px 0 15px;
}
#portfolio .textbox h4 {
  color: #6a6a6a;
  font-size: 20px;
  line-height: 1.3;
  padding-bottom: 25px;
}
#portfolio .imgbox img {
  width: 350px;
  height: 220px;
}

#about {
  padding-bottom: 50px;
}
#about .textbox h1 {
  font-size: 45px;
  padding: 45px 0 15px;
  font-weight: 700;
}
#about .textbox h4 {
  color: #969696;
  padding-bottom: 50px;
  font-size: 20px;
}
#about .textbox h2 {
  font-size: 25px;
  font-weight: 600;
}
#about .textbox h3 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 75px;
}
#about .textbox h2, #about .textbox h3, #about .textbox h6 {
  padding: 0 110px;
}
#about .textbox h6 {
  font-size: 18px;
  color: #969696;
  line-height: 1.6;
}
#about .textboxt2 {
  padding: 110px;
}
#about .textboxt2 h4 {
  font-size: 25px;
  font-weight: 600;
}
#about .textboxt2 h5 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 15px;
}
#about .textboxt2 p {
  font-size: 20px;
  color: #969696;
  line-height: 1.2;
}
#about .imgbox img {
  border-radius: 50%;
  border: 8px solid #ebebeb;
  width: 150px;
  height: 150px;
  position: relative;
  right: 90px;
  top: 5px;
}
#about .imgbox2 img {
  border-radius: 50%;
  border: 8px solid #ebebeb;
  width: 150px;
  height: 150px;
  position: relative;
  left: 280px;
  top: 110px;
}
#about .box {
  padding-bottom: 200px;
}
#about .box .btn {
  position: absolute;
  right: 615px;
  color: white;
  font-size: 20px;
  padding: 25px 40px;
  border-radius: 50%;
  border: 8px solid #ebebeb;
  background-color: #ffc800;
}

#amazing {
  background-color: #f6f6f6;
  padding: 20px 75px;
}
#amazing .textbox {
  text-align: center;
}
#amazing .textbox h3 {
  font-size: 35px;
  font-weight: 700;
  padding: 20px 0;
}
#amazing .textbox h4 {
  color: #6a6a6a;
  font-size: 20px;
  padding-bottom: 70px;
}
#amazing .textbox h2 {
  font-size: 30px;
  font-weight: 700;
  padding: 25px 0 10px;
}
#amazing .textbox h5 {
  color: #6a6a6a;
  font-size: 20px;
  padding-bottom: 15px;
}
#amazing .textbox h6 {
  font-size: 20px;
  color: #6a6a6a;
  padding: 40px 145px 20px;
}
#amazing .imgbox img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 8px solid #dfe0e1;
}
#amazing ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#amazing ul li {
  font-size: 18px;
  background-color: #1d1735;
  border-radius: 70%;
  color: white;
  border: 15px solid #1d1735;
  margin: 0 15px;
}

#microsoft .one {
  width: 190px;
  height: 200px;
  padding: 75px 0;
}
#microsoft .two {
  width: 130px;
  height: 150px;
  padding: 75px 0;
}
#microsoft .three {
  width: 160px;
  height: 190px;
  padding: 75px 0;
}
#microsoft .four {
  width: 120px;
  height: 140px;
  padding: 75px 0;
}

#contact {
  padding: 65px 0;
  background-color: #212529;
  background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png");
}
#contact .textbox {
  text-align: center;
}
#contact .textbox h2 {
  font-size: 40px;
  font-weight: 700;
  color: white;
  padding: 65px 0 20px;
}
#contact .textbox h3 {
  color: #757575;
  padding-bottom: 35px;
}
#contact .box {
  padding-bottom: 40px;
}
#contact .box .add input {
  padding: 15px 0;
  width: 470px;
  height: 65px;
  margin: 12px 0;
}
#contact .demo {
  padding: 10px 0;
}
#contact .demo .add input {
  width: 600px;
  height: 245px;
}
#contact .box .btn {
  padding: 20px 35px;
  background-color: #c19e1d;
  color: white;
  font-size: 20px;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */